.about_product{
    position: relative;
    width: 100%;
    height: 1000px;
    margin: 0;
    background-color: #EEF5DB;
    text-align: center;
}

.about_container{
    position: relative;
    display: flex;

    justify-content: center;
    width: 100%;
    height: fit-content;
}

.about_detail{
    margin: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #B8D8D8;
    box-shadow: #7A9E9F;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    text-align: center;
}

.earth{
    width: 80%;
}
.money{
    width: 70%;
}
.tools{
    width: 60%;
}

@keyframes showAboutLeft {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes showAboutRight {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes showAboutMid {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#right_about{
    box-shadow: 20px 20px 56px rgba(122, 158, 159, 0.5);
    top: 50px;
    animation-name: showAboutLeft;
    animation-duration: 2s;
}

#left_about{
    box-shadow: -20px 20px 56px rgba(122, 158, 159, 0.5);
    top: 60px;
    animation-name: showAboutRight;
    animation-duration: 2s;
}

#mid_about{
    animation-name: showAboutMid;
    animation-duration: 2s;
}