:root{
    --finalHeight : 50%;
}

#resultFrame{
    height: 0px;
    width: 80%;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    overflow-y: scroll;
    margin-left: -20px;
  
}

@keyframes open{
    from {
        height:0px;
    }
    to {
        height: var(--finalHeight);
    }
}   

@keyframes close{
    from {
        height: var(--finalHeight);
    }
    to {
        height:0px
    }
}

@keyframes result-expand{
    from{
  
    }
    to{
      transform:scale(1.1);
      height:290px;
      margin-left: 30px;
    }
  } 
  @keyframes result-resize{
    from{
  
    }
    to{
      transform:scale(1);
      height:80px;
      margin-left: 20px;
    }
  } 
  
  .resultCard{
    position: relative;
    width: 300px;
    height: 80px;
    background-color: rgba( 0, 0, 0, 0.01 );
    border-radius: 10px;
    border: 1px solid rgba( 0, 0, 0, 0.05 );
    transform: scale(1);
    transition: 0.5s;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    overflow: hidden;
  }
  
  .resultApprove{
    font-family: 'Open Sans';
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:15px;
    color:#35ff9c;
    border:none;
    background-color:transparent;
    align-self: center;
    text-align: center;
    font-weight: 400;
  }
  
  
  
  #detail-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align:left;
    width: 200px;
    height: 200px;
    margin-left:20px;
  
  }
  
  
  @keyframes growing{
    from{}
    to{transform:scale(1.1);color : #FE5F55}
  }
  @keyframes resize{
    from{}
    to{transform:scale(1);color : rgba(0, 0, 0, 0.5)}
    
  }
  
  #result-detail-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    text-align:left;
    width: 100%;
    height: fit-content;
    margin-left:10px;
    padding: 0;
  }
  
  .result-detail-header{
    font-size: 15px; 
    color: rgba(0, 0, 0, 1) ; 
    font-weight: 800; 
    letter-spacing: 1px;
    margin:5px;
  }